<h1><%= name %></h1>

<ul id='builds'>
  <% @builds.each do |build| %>
    <li class='<%= build.status ? 'pass' : 'fail' %>'>
      <p>
        Build 
        <a href="<%= build.commit_url %>"><%= build.short_hash %></a>
        
        <%= pretty_date(build.created_at) %>
        on <%= build.stack %>
      </p>
      <pre><%= build_output(build) %></pre>
    </li>
  <% end %>
</ul>